@charset "utf-8";

.wrapper {
    width: 990px;
    margin: 0 auto;
}

// 头部logo
.logo {
    height: 98px;
}

// 登录框左侧
.login {
    position: relative;
    background: #fff url(https://s.maiyaole.com/images/passport/l_bg_02.png) no-repeat left top;
    width: 988px;
    min-height: 335px;
    color: #5e5e5e;
    border: #e6e6e6 1px solid;
    border-top: #0083ce 2px solid;
    -webkit-box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
    -moz-box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
    box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
    padding-top: 8px;

    .bglink {
        position: absolute;
        left: 0;
        top: 0;
        text-indent: -9999px;
        display: block;
        width: 560px;
        height: 363px;
    }
}

// 登录框右侧顶部tab
.tab {
    height: 25px;
    margin-left: 560px;
    padding: 10px 0;
    padding-top: 2px;
    border-bottom: 1px solid #e2e2e2;

    ::before {
        display: block;
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #e2e2e2;
    }

    .item1 {
        float: left;
        position: relative;
        width: 50%;
        text-align: center;
        font-size: 14px;
        line-height: 25px;

        a {
            display: block;
            position: relative;
            margin: 0 30px;
        }

        ::before {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #2C9EE0;
        }
    }

    .active {
        a {
            color: #2C9EE1;
        }
    }

    .item2 {
        float: left;
        position: relative;
        width: 50%;
        text-align: center;
        font-size: 14px;
        line-height: 25px;

        a {
            display: block;
            position: relative;
            color: #333;
        }
    }
}

// 欢迎// 表单
.welcome {
    margin-left: 560px;
    padding: 0 30px;

    h2 {
        margin: 13px 0;

        span {
            float: right;
            font-size: 12px;
            margin-top: 7px;

            a {
                color: #0083ce;
            }
        }
    }

    .length {
        width: 340px;
        position: relative;
        min-height: 68px;

        .user {
            display: block;
            width: 286px;
            height: 26px;
            padding: 6px 12px 6px 40px;
            font-size: 14px;
            background-color: transparent;
            border: 1px solid #e6e6e6;
            background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 8px -114px;
        }

        .usertip {
            display: none;
            height: 16px;
            width: auto;
            float: right;
            padding-right: 25px;
            margin-top: -28px;
            background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat right -57px;
            font-style: normal;
        }

        .pass {
            display: block;
            width: 286px;
            height: 26px;
            padding: 6px 12px 6px 40px;
            font-size: 14px;
            background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 8px -145px;
            background-color: transparent;
            border: 1px solid #e6e6e6;
        }

        .tip {
            float: right;

            a {
                font-size: 12px;
                color: #333;
            }
        }

        .yanzcode {
            width: 150px;
            margin-right: 10px;
            float: left;
            display: block;
            height: 26px;
            padding: 6px 12px 6px 10px;
            font-size: 14px;
            background-color: transparent;
            border: 1px solid #e6e6e6;
        }

        img {
            float: left;
            margin-left: 10px;
        }

        .change {
            float: left;
            margin-left: 10px;
            line-height: 40px;
            color: #0083ce;
            font-size: 12px;
        }

        .inputyzm {
            color: #e72418;
            font-size: 12px;
            display: none;
        }
    }

    :focus {
        border-color: #0083ce;
        color: #333;
    }

    .loginbtn {
        display: block;
        min-height: 20px;
        margin-top: 0px;
        margin-bottom: 6px;
        padding-left: 20px;

        .check {
            float: left;
            margin-left: -20px;
        }

        .twoweeks {
            font-size: 12px;
        }

        button {
            display: inline-block;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            background-color: #0099F1;
            width: 326px;
            border-bottom: #0083ce 2px solid;
            color: #fff;
            font: 18px "microsoft yahei";
            margin: 10px 0  0 -20px;
        }
    }

    .agree {
        padding-top: 10px;

        span {
            font-size: 12px;
        }

        a {
            font-size: 12px;
            color: #0083ce;
        }
    }

    .partner {
        padding-bottom: 15px;
        clear: both;
        overflow: hidden;

        p {
            margin-top: 5px;
            line-height: 24px;
            color: #5e5e5e;
            font-size: 12px;
        }

        a {
            background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat -294px 0;
            line-height: 24px;
            color: #a5a5a5;
            text-indent: -9999px;
            display: block;
            float: left;
            height: 39px;
            margin-right: 18px;
            width: 39px;
            border: none;
        }
    }
}
