.wrapper {
  width: 1190px;
  margin: 0 auto; }

.wrapper {
  width: 1190px;
  margin: 0 auto; }

.header-nav {
  height: 36px;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
  color: #707070;
  height: 36px;
  line-height: 36px; }
  .header-nav .header-nav-left {
    float: left; }
    .header-nav .header-nav-left .menu .province {
      background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
      background-position: right 8px;
      padding: 0 15px 0 5px; }
  .header-nav .header-nav-right {
    float: right; }
    .header-nav .header-nav-right li {
      float: left;
      padding: 0 10px;
      background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
      background-position: right -178px; }
      .header-nav .header-nav-right li :hover {
        color: #0083ce;
        text-decoration: underline; }
      .header-nav .header-nav-right li a {
        color: #5e5e5e; }
      .header-nav .header-nav-right li .login .red {
        color: #e54948 !important;
        margin-right: 5px; }
      .header-nav .header-nav-right li .phone {
        color: #c7a774;
        font-weight: 700;
        font-family: Tahoma;
        text-decoration: none; }
      .header-nav .header-nav-right li .myyaowang {
        background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
        background-position: right 8px;
        padding: 0 14px 0 0; }

.header-info {
  height: 121px;
  margin-bottom: 10px; }
  .header-info .wrapper {
    position: relative; }
    .header-info .wrapper .logo {
      margin-right: 105px;
      width: 180px;
      float: left;
      height: 113px;
      padding-top: 26px; }
    .header-info .wrapper .search {
      width: 778px;
      float: left;
      margin-bottom: 15px; }
      .header-info .wrapper .search .searchform {
        margin-top: 34px; }
        .header-info .wrapper .search .searchform input {
          height: 44px;
          line-height: 44px;
          padding: 0 5px 0 9px;
          border: 1px solid #c7a774;
          color: #666;
          font-size: 15px;
          vertical-align: middle;
          background-color: #fff;
          width: 435px;
          float: left; }
        .header-info .wrapper .search .searchform button {
          float: left;
          width: 82px;
          height: 46px;
          line-height: 55px;
          border: 1px solid #c7a774;
          cursor: pointer;
          background-color: #fff;
          margin-left: -1px; }
      .header-info .wrapper .search .hotkeys {
        float: left;
        height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 10px;
        width: 778px;
        overflow: hidden; }
        .header-info .wrapper .search .hotkeys a {
          padding: 0 6px 0 0;
          font-size: 12px; }
        .header-info .wrapper .search .hotkeys :hover {
          text-decoration: underline;
          color: #e54948; }
        .header-info .wrapper .search .hotkeys .red {
          color: #e54948 !important; }
    .header-info .wrapper .erDCode {
      position: absolute;
      right: 140px;
      top: 10px;
      width: 123px;
      height: 115px; }
      .header-info .wrapper .erDCode img {
        width: 100px;
        margin-top: 22px; }

.main-top {
  height: 46px;
  border-bottom: 2px solid #d2b994; }
  .main-top .wrapper {
    position: relative; }
  .main-top .allsort {
    width: 180px; }
    .main-top .allsort .sort {
      position: absolute;
      z-index: 100;
      display: block;
      font: 400 15px/48px tahoma,arial,Microsoft YaHei;
      color: #fff;
      width: 166px;
      padding: 0 0 0 14px;
      height: 48px;
      background-color: #19323a;
      background-position: right -438px;
      font-weight: 700; }
    .main-top .allsort .sortnav {
      height: 400px;
      width: 180px;
      background: #314349;
      margin-top: 40px;
      position: relative; }
      .main-top .allsort .sortnav .nav-text {
        display: block;
        width: 180px;
        height: 40px;
        color: #fff; }
        .main-top .allsort .sortnav .nav-text i {
          float: left;
          font-size: 24px;
          line-height: 24px;
          color: #fff;
          margin-top: 10px;
          display: block;
          width: 24px;
          height: 24px; }
        .main-top .allsort .sortnav .nav-text h4 {
          margin-left: 32px;
          font-size: 14px;
          height: 40px;
          line-height: 40px; }
  .main-top ul {
    float: left;
    margin-top: 10px;
    background: #fff;
    font-family: tahoma,arial,\5b8b\4f53;
    vertical-align: middle; }
    .main-top ul li {
      float: left; }
      .main-top ul li a {
        padding: 0 15px;
        color: #505050;
        font-weight: bold; }
    .main-top ul .red {
      color: #e54948; }
  .main-top .cart {
    width: 140px;
    font-size: 12px;
    position: absolute;
    top: -95px;
    right: 0px;
    margin-bottom: -41px;
    z-index: 99;
    border: 1px solid #eee; }
    .main-top .cart a {
      background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
      background-position: 10px -312px;
      display: block;
      height: 36px;
      line-height: 36px;
      position: relative;
      color: #5e5e5e; }
      .main-top .cart a em {
        display: block;
        position: absolute;
        float: left;
        top: 3px;
        line-height: 10px;
        width: auto;
        min-width: 12px;
        text-align: center;
        left: 30px;
        font-weight: 700;
        font-family: tahoma;
        font-style: normal;
        color: #fff;
        font-size: 12px;
        height: 12px;
        padding: 2px;
        background: red;
        border-radius: 16px; }
      .main-top .cart a span {
        background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
        width: 50px;
        left: 55px;
        background-position: -110px -312px;
        padding-right: 15px;
        position: absolute; }

.category {
  width: 1030px;
  position: absolute;
  top: 0;
  left: 180px;
  height: 400px;
  z-index: 101;
  background: #fff;
  border-bottom: 1px solid #e8e8e7;
  border-right: 1px solid #e8e8e7;
  clear: both;
  display: none; }
  .category .category-left {
    vertical-align: middle;
    width: 255px;
    height: 399px;
    overflow: hidden;
    float: left; }
    .category .category-left a {
      padding: 0;
      margin: 0; }
    .category .category-left dl {
      display: block;
      font-size: 12px;
      background: #fff;
      float: left; }
      .category .category-left dl dt {
        margin: 6px 0 0 23px;
        padding: 0;
        line-height: 20px;
        height: 20px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .category .category-left dl dd {
        color: #999;
        line-height: 1.6;
        margin: 0 0 0 23px;
        padding: 0 0 6px 0;
        text-overflow: ellipsis;
        overflow: hidden; }
        .category .category-left dl dd em {
          margin: 8px 6px 0 -8px;
          padding: 1px 6px 0 7px;
          display: inline-block;
          font-style: normal;
          border-left: #ddd 1px solid;
          font-weight: 400;
          line-height: 1;
          font-size: 12px; }

.main {
  height: 400px; }
  .main .main-l {
    width: 750px;
    float: left;
    overflow: hidden;
    position: relative; }
    .main .main-l .banner {
      width: 750px;
      height: 400px; }
    .main .main-l .tab {
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -75px; }
      .main .main-l .tab a {
        text-indent: -999px;
        overflow: hidden;
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #3e535a;
        margin-left: 10px;
        opacity: 0.5; }
  .main .main-r {
    width: 259px;
    float: left;
    border-right: 1px solid #d2b994;
    overflow: hidden;
    border-bottom: 1px solid #d2b994; }
    .main .main-r .consult {
      line-height: 32px;
      padding-left: 13px;
      font: 12px tahoma,arial,"Microsoft Yahei",\5b8b\4f53;
      color: #5E5E5E; }
      .main .main-r .consult .bottom {
        border-bottom: 1px solid #f00;
        color: #000;
        font-weight: bold; }
      .main .main-r .consult span {
        margin-left: 10px;
        line-height: 22px;
        color: #707070;
        cursor: pointer;
        display: inline-block;
        padding-top: 5px; }
    .main .main-r .consult-text {
      padding-left: 23px;
      padding-bottom: 8px;
      overflow: hidden;
      font-size: 13px;
      font: 12px tahoma,arial,"Microsoft Yahei",\5b8b\4f53;
      color: #5E5E5E; }
      .main .main-r .consult-text a {
        width: 72px;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        color: #707070; }
        .main .main-r .consult-text a i {
          background: url(https://s.maiyaole.com/images/201306/images/just_index.png) no-repeat;
          background-position: -15px -452px;
          width: 6px;
          height: 10px;
          margin-left: 5px;
          position: relative;
          top: 1px;
          display: inline-block; }
      .main .main-r .consult-text :hover {
        text-decoration: underline; }
    .main .main-r .serve-box {
      margin: 0 13px; }
      .main .main-r .serve-box img {
        width: 100%; }
    .main .main-r .member {
      margin-left: 20px;
      padding-top: 10px; }
      .main .main-r .member span {
        font-weight: bold;
        color: #000;
        padding-bottom: 5px;
        font-size: 12px; }
      .main .main-r .member li {
        width: 44px;
        height: 44px;
        border-radius: 5px;
        border: 1px solid #d0d0d0;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        position: relative; }
        .main .main-r .member li .member-logo {
          width: 44px;
          height: 44px;
          border-radius: 5px; }
        .main .main-r .member li .member-code {
          display: none;
          position: absolute;
          width: 88px;
          height: 84px;
          border: 1px solid #cccccc;
          top: -98px;
          margin-left: -20px; }
    .main .main-r .goodserve {
      clear: both; }
      .main .main-r .goodserve .serve-title {
        height: 24px;
        padding: 10px 0 0 10px; }
        .main .main-r .goodserve .serve-title .bottom {
          color: #000;
          border-bottom: 1px solid #f00;
          font-weight: bold; }
        .main .main-r .goodserve .serve-title span {
          font-size: 12px;
          display: inline-block;
          margin-left: 10px;
          padding-bottom: 2px;
          cursor: pointer; }
      .main .main-r .goodserve .serve-icon {
        padding: 8px 0 0 10px;
        height: 71px;
        display: block; }
        .main .main-r .goodserve .serve-icon a {
          width: 60px;
          float: left;
          display: block;
          text-align: center;
          font-size: 12px;
          color: #333; }
        .main .main-r .goodserve .serve-icon i {
          background: url(https://s.maiyaole.com/images/201306/images/icon_gonggao.png) no-repeat;
          width: 37px;
          height: 37px;
          display: block;
          margin-left: 10px; }
        .main .main-r .goodserve .serve-icon .serve-icon-1 {
          background-position: -42px -44px; }
        .main .main-r .goodserve .serve-icon .serve-icon-2 {
          background-position: -100px -44px; }
        .main .main-r .goodserve .serve-icon .serve-icon-3 {
          background-position: -156px -44px; }
        .main .main-r .goodserve .serve-icon .serve-icon-4 {
          background-position: -214px -44px; }

.special-adv {
  margin: 10px 0;
  height: 150px; }
  .special-adv .countdown {
    display: inline-block;
    width: 170px;
    height: 150px;
    margin-right: 0; }
  .special-adv a img {
    width: 250px;
    height: 150px;
    border: 0;
    vertical-align: top; }

.floor1 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #92c4ff; }
  .floor1 .floor-l {
    float: left;
    width: 180px; }
    .floor1 .floor-l .floor-name {
      color: #fff;
      background: #92c4ff;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor1 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor1 .floor-l li a {
        color: #5e5e5e; }
      .floor1 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.floor2 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #ffa27a; }
  .floor2 .floor-l {
    float: left;
    width: 180px; }
    .floor2 .floor-l .floor-name {
      color: #fff;
      background: #ffa27a;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor2 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor2 .floor-l li a {
        color: #5e5e5e; }
      .floor2 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.floor3 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #ff6b6b; }
  .floor3 .floor-l {
    float: left;
    width: 180px; }
    .floor3 .floor-l .floor-name {
      color: #fff;
      background: #ff6b6b;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor3 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor3 .floor-l li a {
        color: #5e5e5e; }
      .floor3 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.floor4 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #f6c89e; }
  .floor4 .floor-l {
    float: left;
    width: 180px; }
    .floor4 .floor-l .floor-name {
      color: #fff;
      background: #f6c89e;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor4 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor4 .floor-l li a {
        color: #5e5e5e; }
      .floor4 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.floor5 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #aee177; }
  .floor5 .floor-l {
    float: left;
    width: 180px; }
    .floor5 .floor-l .floor-name {
      color: #fff;
      background: #aee177;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor5 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor5 .floor-l li a {
        color: #5e5e5e; }
      .floor5 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.floor6 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
  border-top: 2px solid #ffacd0; }
  .floor6 .floor-l {
    float: left;
    width: 180px; }
    .floor6 .floor-l .floor-name {
      color: #fff;
      background: #ffacd0;
      padding-left: 20px;
      height: 85px;
      line-height: 85px;
      font-size: 20px; }
    .floor6 .floor-l li {
      float: left;
      width: 89px;
      height: 49px;
      border: 1px solid #F3F3F3;
      border-left: none;
      border-top: none;
      text-align: center;
      line-height: 49px;
      font-size: 14px; }
      .floor6 .floor-l li a {
        color: #5e5e5e; }
      .floor6 .floor-l li :hover {
        text-decoration: underline;
        color: #ff5247; }

.footer-1 {
  color: #5E5E5E;
  margin-top: 20px;
  border: 1px solid #E6E6E6;
  height: 168px;
  overflow: hidden;
  width: 1188px; }
  .footer-1 ul {
    background: #F8F8F8;
    border-bottom: 1px solid #E6E6E6; }
    .footer-1 ul .active {
      background: #fff;
      font-weight: 700;
      height: 34px;
      margin-bottom: -1px; }
    .footer-1 ul li {
      display: inline-block;
      width: 178px;
      height: 33px;
      border-right: 1px solid #E6E6E6;
      font-size: 12px;
      line-height: 33px;
      text-align: center;
      cursor: pointer; }
  .footer-1 .logopic {
    padding: 8px 0 15px 8px; }
    .footer-1 .logopic a {
      background: url(https://s.maiyaole.com/images/201306/images/img_btm_logo.png) no-repeat;
      float: left;
      display: block;
      width: 110px;
      height: 46px;
      text-indent: -9999px;
      margin: 7px 8px 0 0;
      opacity: .7; }

.footer-2 {
  padding-top: 62px;
  clear: both; }
  .footer-2 .footerlogo {
    width: 1190px;
    height: 100px;
    background: url(https://s.maiyaole.com/images/201306/images/jsyhm.png) no-repeat 0 0; }

.footer-3 {
  margin-top: 60px;
  height: 98px;
  margin-bottom: 65px; }
  .footer-3 ul {
    float: left;
    padding-left: 110px; }
    .footer-3 ul li {
      width: 255px;
      float: left; }
      .footer-3 ul li .code {
        width: 94px;
        height: 94px;
        float: left;
        margin-right: 12px; }
      .footer-3 ul li .app-right {
        padding-top: 27px;
        font-size: 12px; }
        .footer-3 ul li .app-right .h2-text {
          font-size: 15px;
          color: #1c1c1c;
          font-weight: bold;
          margin-bottom: 3px; }
  .footer-3 .contact {
    width: 250px;
    float: right;
    border-left: 1px solid #eee;
    text-align: center;
    padding: 15px 0;
    margin-right: 50px; }
    .footer-3 .contact .tel {
      font-size: 20px;
      color: #c7a774;
      font-weight: 700; }
    .footer-3 .contact .service-time {
      color: #999;
      line-height: 18px;
      padding-top: 8px; }

.footer-4 {
  background: #f0f0f0;
  margin-top: 65px;
  padding-top: 45px;
  clear: both;
  font-size: 12px; }
  .footer-4 .footer_bottom_unit {
    position: relative;
    padding-left: 215px;
    padding-top: 15px;
    margin-left: 150px; }
    .footer-4 .footer_bottom_unit .footer_logo_img {
      position: absolute;
      left: 0;
      top: 30px; }
    .footer-4 .footer_bottom_unit .help_part {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 25px;
      overflow: hidden; }
      .footer-4 .footer_bottom_unit .help_part dl {
        float: left;
        width: 155px; }
        .footer-4 .footer_bottom_unit .help_part dl dt {
          font-weight: bold;
          color: #1c1c1c;
          font-size: 15px;
          padding-bottom: 10px; }
        .footer-4 .footer_bottom_unit .help_part dl dd {
          line-height: 26px; }
          .footer-4 .footer_bottom_unit .help_part dl dd a {
            color: #666; }
    .footer-4 .footer_bottom_unit .copy_right {
      padding: 5px 0 30px;
      text-align: center; }
      .footer-4 .footer_bottom_unit .copy_right .yyw_member {
        padding-top: 25px; }
        .footer-4 .footer_bottom_unit .copy_right .yyw_member .member_mark {
          color: #666;
          float: left;
          line-height: 56px;
          display: block; }
        .footer-4 .footer_bottom_unit .copy_right .yyw_member .member_ul {
          height: 56px;
          float: left;
          font-weight: bold;
          font-size: 14px;
          color: #333;
          text-align: left;
          margin-left: 15px; }
          .footer-4 .footer_bottom_unit .copy_right .yyw_member .member_ul li {
            width: 270px;
            float: left;
            line-height: 56px; }
            .footer-4 .footer_bottom_unit .copy_right .yyw_member .member_ul li img {
              width: 56px;
              height: 56px;
              margin-right: 10px; }
    .footer-4 .footer_bottom_unit .bottom_link {
      text-align: left;
      line-height: 30px;
      padding-top: 60px;
      margin-left: -20px; }
      .footer-4 .footer_bottom_unit .bottom_link a {
        margin: 0 20px;
        color: #666; }
    .footer-4 .footer_bottom_unit .copy_info {
      text-align: left;
      color: #999;
      line-height: 20px;
      padding-top: 15px; }
    .footer-4 .footer_bottom_unit .sf_verify {
      padding: 10px 0 0 10px;
      clear: both; }
      .footer-4 .footer_bottom_unit .sf_verify a {
        background-image: url(https://s.maiyaole.com/images/201306/img/outherLogo_min.png);
        background-repeat: no-repeat;
        overflow: hidden;
        float: left;
        zoom: 1;
        width: 88px;
        height: 35px;
        text-indent: -9999px; }

.fixed {
  position: fixed;
  right: 28px;
  bottom: 10px;
  z-index: 100;
  width: 52px; }
  .fixed img {
    width: 52px; }
  .fixed a {
    background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
    display: inline-block;
    zoom: 1;
    display: inline-block;
    width: 52px;
    height: 52px;
    text-indent: -9999px; }
  .fixed .f-talk {
    background-position: 0 -622px; }
  .fixed .f-list {
    background-position: -52px -725px; }
  .fixed .f-cart {
    background-position: 0 -674px; }
  .fixed .f-back {
    background-position: 0 -777px; }
  .fixed .f-top {
    background-position: 0 -827px; }

.elevator {
  position: fixed;
  z-index: 99;
  right: 50%;
  top: 130px;
  margin-right: 600px; }
  .elevator li {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    width: 48px;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    background-color: #fff; }
    .elevator li a {
      color: #5e5e5e;
      display: block;
      font-family: Arial;
      font-size: 14px;
      text-decoration: none; }
  .elevator .ele-first {
    display: block;
    width: 48px;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    text-align: center;
    color: #157CDB;
    padding: 5px 0;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    font-size: 12px; }

/*# sourceMappingURL=index.css.map */
